body {
    background-color: #e4dfd1;
    color: #212a3b;
    font-family: Didot;
    text-align: center;
    opacity: 0.8;
    background-image: radial-gradient(circle, #c3b78f 1.2px, transparent 1.2px);
    background-size: 15px 15px;
}
